[submodule "dll-source/external/external/commonlibsse-ng"]
	path = dll-source/external/external/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibVR.git
[submodule "dll-source/external/commonlibsse-ng"]
	path = dll-source/external/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibVR.git
